services:
  - type: web
    name: shreesangeetaalaya-web
    runtime: docker
    plan: free
    region: singapore
    branch: main
    autoDeploy: true
    dockerContext: .
    dockerfilePath: ./Dockerfile
    healthCheckPath: /up
    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_LOG_LEVEL
        value: info
      - key: RAILS_SERVE_STATIC_FILES
        value: true
      - key: DATABASE_URL
        value: "postgresql://neondb_owner:npg_Tf82xeuJaKpn@ep-wild-flower-a1dzsur4-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: RAILS_MAX_THREADS
        value: 5
      - key: WEB_CONCURRENCY
        value: 2
      - key: STORAGE_PROVIDER
        value: local
      - key: EMAIL_DELIVERY_ENABLED
        value: true
      - key: EMAIL_PROVIDER
        value: brevo
      - key: EMAIL_FROM_ADDRESS
        value: noreply@shreesangeetaalaya.art
      - key: EMAIL_FROM_NAME
        value: Shree Sangeetha Aalaya
      - key: BREVO_SMTP_LOGIN
        value: a2b958001@smtp-brevo.com
      - key: BREVO_SMTP_KEY
        value: xsmtpsib-141d4466271ae7ff4f2a2efb585672c4fe949271259dcdf326e69a3876681953-XQkHOIlBWVxpURwj
      - key: APP_URL
        value: https://shreesangeetaalaya-web.onrender.com
      - key: APP_HOST
        value: shreesangeetaalaya-web.onrender.com
      - key: GOOGLE_CLIENT_ID
        value: 588638086816-mnjs62mnn4jni11ekd57osira5hkt2dj.apps.googleusercontent.com
      - key: GOOGLE_CLIENT_SECRET
        value: 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
      - key: BREVO_API_KEY
        value: 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
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: SENTRY_DSN
        sync: false
